.card {
  margin-bottom: 20px;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  margin-top: 10px;
}
